<section id="typography">
  <div class="page-header">
    <h1>UEditor For Rails <small>基于UEditor修改，适合rails使用</small></h1>
  </div>

  <!-- Headings & Paragraph Copy -->
  <div class="row">
    <div class="span12">
      <p>
	UEditor提供 PHP .NET JAVA的版本，没有提供RUBY的，项目要用到，闲来无事，改写一下。
      </p>
      <ul>
		<li>原生态的JAVASCRIPT不是很会，所以更新基于JQUERY。</li>
		<li>将图片上传，文件上传由PHP改为Rails</li>
      </ul>
    </div>
    
  </div>

  <!-- Misc Elements -->
  <h2>更改步骤</h2>
  
  <div class="row">
    <div class="span12">
      <ol>
        <li>添加Jquery框架</li>
      </ol>
    </div>
    
  </div><!-- /row -->
</section>
